[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
py-cord = "*"
loguru = "*"
sentry-sdk = "*"
audioop-lts = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.13"
